.BlogSidebar {
  max-width: 250px;
  position: sticky;
  top: 30px;
  margin-left: 30px;
  transform: translateY(20px);
  /* list-style: none; */
}

ul.BlogSidebarUL li {
  margin-bottom: 0.5em;
  transition: all 0.28s ease;
}

ul.BlogSidebarUL li:hover {
  background: #e8f4fd;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .BlogSidebar {
    display: none;
  }
}
